/* Name element */
div.donorperfect-name-wrapper select,
div.donorperfect-name-wrapper input {
  width: 100%;
}
@media (min-width: 600px) {
  div.donorperfect-name-wrapper {
    display: flex;
  }
  div.donorperfect-name-wrapper > div {
    margin-right: 1rem;
    flex-grow: 2;
  }
  div.donorperfect-name-wrapper > div:last-child {
    margin-right: 0;
  }
  div.donorperfect-name-wrapper > div.donor-type-wrapper {
    flex-grow: 1;
  }
}

/* Address element */
div.donorperfect-address-wrapper input[type="text"],
div.donorperfect-address-wrapper select {
  width: 100%;
}
div.donorperfect-address-wrapper .form-item {
  margin: 8px 0;
}
div.donorperfect-address-wrapper div.address-container-inline {
  display: flex;
}
div.donorperfect-address-wrapper div.address-container-inline > div {
  display: block;
  flex-grow: 1;
  margin-right: 16px;
}
div.donorperfect-address-wrapper div.address-container-inline > div:first-child {
  flex-grow: 2;
}
div.donorperfect-address-wrapper div.address-container-inline > div:last-child {
  margin-right: 0;
}

/* Email element */
div.donorperfect-email-wrapper input[type="email"] {
  width: 100%;
}

/* Phone element */
div.donorperfect-phone-wrapper {
  display: flex;
  margin: 1.5rem 0;
}
div.donorperfect-phone-wrapper .form-item {
  margin: 0;
}
div.donorperfect-phone-wrapper input[type="text"],
div.donorperfect-phone-wrapper select {
  width: 100%;
}
div.donorperfect-phone-wrapper > div {
  flex-grow: 3;
}
div.donorperfect-phone-wrapper > div:first-of-type {
  flex-grow: 1;
  margin-right: 16px;
}
