.donorperfect-name-search-button-wrapper {
  width: 40px;
  padding: 30px 0 0;
  flex-grow: 0 !important;
}
.donorperfect-name-search-button-wrapper img {
  width: 33px;
  cursor: pointer;
}
.donorperfect-name-search-wrapper .donorperfect-name-search-searching,
.donorperfect-name-search-wrapper .donorperfect-name-search-results {
  display: none;
}
