.toolbar-icon-donorperfect-admin:before {
  background-image: url(../images/donorperfect-logo-787878.png);
}
.toolbar-icon-donorperfect-admin:active:before,
.toolbar-icon-donorperfect-admin.is-active:before {
  background-image: url(../images/donorperfect-logo-000000.png);
}
